*{
    padding: 0;
    margin: 0;
}

.main{
    background-image: url("assets/images/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img{
    color: red;
    width: 115px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: 1;
}